<%- include("template/head", {tituloweb: "pagina de Inicio"}) %>
<%- include("template/sidebar") %>
<div class="container bg-dark text-light" style="margin-left: 60px;">
    <div class="row">
        <div class="col">
            <form id="frmNuevoRegistro" class="border border-light p-4"  style="min-height: 80vh; background: rgb(33,37,41);
            background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(38,43,47,1) 16%, rgba(38,43,47,1) 86%, rgba(33,37,41,1) 100%); --bs-border-opacity: .25;"">
                <button class="btn float-end text-light" onclick="dividirRegistros()"><i class='bx bx-windows'></i></button>
                <div class="col">
                    <p class="h3 mb-4 text-center" id="TITULOS">Importes</p> <button type="button" class="btn float-end text-light btn-success btn-sm mb-4"  data-bs-toggle="modal" data-bs-target="#CrearImporte">Agregar</button>
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th class="text-light">Fecha</th>
                                <th class="text-light">Hora</th>
                                <th class="text-light">Atendido por</th>
                                <th class="text-light">Nombre</th>
                                <th class="text-light">Apellido</th>
                                <th class="text-light">Importe(s)</th>
                                <th class="text-light">Tipo</th>
                                <th class="text-light">Total</th>
                                <th class="text-light">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="importes">

                        </tbody>
                        
                    </table>

                </div>
                
            </form>
        </div>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="CrearImporte" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light  border-light border">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Crear un importe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="mt-4" id="frmNuevoImporte">
              <div class="form-outline mb-2 form-floating mt-3" >
                <input type="text" id="imp_nombre" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required/>
                <label for="floatingInputInvalid">Nombre</label>
               </div>
              <div class="form-outline mb-2 form-floating mt-3" >
                <input type="text" id="imp_apellido" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio"/>
                <label for="floatingInputInvalid">Apellido</label>
               </div>
              <div class="form-outline mb-2 form-floating mt-3" >
                <input type="number" id="imp_cantidad" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required/>
                <label for="floatingInputInvalid">Cantidad</label>
               </div>

                <div class="form-outline mb-3 form-floating mt-3">
                  <select class="form-select bg-dark text-light" id="imp_marca" aria-label="Default select example">
                   <option selected></option>
                   <option value="1">Modelo especial</option>
                   <option value="2">Modelo negra</option>
                   <option value="3">Modelo malta</option>
                   <option value="4">Corona extra</option>
                   <option value="7">Corona light</option>
                   <option value="8">Victoria</option>
                   <option value="13">Bud light</option>
                   <option value="15">Pacifico clara</option>
                   <option value="18">Barrilito</option>
                 </select>
                 <label for="floatingInputInvalid">Marca</label>
                 </div>

                 <div class="form-outline mb-3 form-floating mt-3">
                  <select class="form-select bg-dark text-light" id="imp_categoria" aria-label="Default select example">
                   <option selected></option>
                   <option value="1">Cuarto</option>
                   <option value="2">Media</option>
                   <option value="3">Mega</option>
                   <option value="4">Familiar</option>
                 </select>
                 <label for="floatingInputInvalid">Tamaño</label>
                 </div>

                 <div class="d-flex justify-content-center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Imp" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Importe</label>
                  </div>
                  <div class="form-check form-check-inline bg-dark">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="Pres" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Prestamo</label>
                  </div>
                 </div>


               
              
    
                 <div class="form-outline mb-2 form-floating mt-3" >
                  <input type="number" id="eloalto" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required />
                  <label for="floatingInputInvalid">Importe</label>
                 </div>
        
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button   type="submit" class="btn btn-success">Crear</button>
                  </div>

              </form>
        </div>
 
      </div>
    </div>
    
  </div>

<%- include("template/footer") %>