<%- include("template/head", {tituloweb: "pagina de Inicio"}) %>
<%- include("template/sidebar") %>
<div class="container bg-dark text-light" style="margin-left: 60px;"">
  <div class="row">
      <div class="col">
          <div class="border border-light p-4" style="min-height: 80vh; background: rgb(33,37,41);
          background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(38,43,47,1) 16%, rgba(38,43,47,1) 86%, rgba(33,37,41,1) 100%); --bs-border-opacity: .25;"">
              <div class="col">
                  <p class="h3 mb-4 text-center" id="TITULOS">Productos</p>   <button type="button" class="btn float-end text-light btn-success btn-sm mb-4"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar</button>
                  <table class="table w-100" >
                    <thead class="text-center">
                         <tr>
                             <th class="text-light">Cantidad</th>
                             <th class="text-light">Categoria</th>
                             <th class="text-light">Marca</th>
                             <th class="text-light">Mililitros</th>
                             <th class="text-light">Precio-agencia</th>
                             <th class="text-light">Precio-cliente</th>
                             <th class="text-light">Acciones</th>
                        </tr>
                     </thead>
                        <tbody class="text-center" id="productosTabla">
            
            
                        </tbody>
                </table>
              </div>
            </div>
      </div>
  </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light  border-light border">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Crear un producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="mt-4" id="frmNuevoProducto">

              <div class="form-outline mb-3 form-floating mt-3">
                <select class="form-select bg-dark text-light" id="cantidad" aria-label="Default select example">
                 <option selected></option>
                 <option value="1">una</option>
                 <option value="2">Six</option>
                 <option value="3">12 Pack</option>
                 <option value="4">Plancha</option>
                 <option value="5">Carton</option>
             
               </select>
               <label for="floatingInputInvalid">Cantidad</label>
               </div>

                <div class="form-outline mb-3 form-floating mt-3">
                  <select class="form-select bg-dark text-light" id="marca" aria-label="Default select example">
                   <option selected></option>
                   <option value="1">Modelo especial</option>
                   <option value="2">Modelo negra</option>
                   <option value="3">Modelo malta</option>
                   <option value="4">Corona extra</option>
                   <option value="5">Corona cero</option>
                   <option value="6">Corona agua rifada</option>
                   <option value="7">Corona light</option>
                   <option value="8">Victoria</option>
                   <option value="9">Victoria chelada</option>
                   <option value="10">Victoria mango</option>
                   <option value="11">Victoria chamoy</option>
                   <option value="12">Victoria cempasúchil</option>
                   <option value="13">Bud light</option>
                   <option value="14">Pacifico suave</option>
                   <option value="15">Pacifico clara</option>
                   <option value="16">Ultra</option>
                   <option value="17">Ultra sabor</option>
                   <option value="18">Barrilito</option>
                 </select>
                 <label for="floatingInputInvalid">Marca</label>
                 </div>

                 <div class="form-outline mb-3 form-floating mt-3">
                  <select class="form-select bg-dark text-light" id="select1" aria-label="Default select example" onchange="detectar()">
                   <option selected></option>
                   <option value="1">Lata chica</option>
                   <option value="2">Lata</option>
                   <option value="3">Laton</option>
                   <option value="4">Mega laton</option>
                   <option value="5">Cuarto</option>
                   <option value="6">Media</option>
                   <option value="7">Mega</option>
                   <option value="8">Familiar</option>
                 </select>
                 <label for="floatingInputInvalid">Tamaño</label>
                 </div>
              
    
                <div class="input-group mb-3 form-floating mt-3">
                  <input type="number" class="form-control bg-dark text-light" id="descripcion" aria-label="Amount (to the nearest dollar)" placeholder="Cantidad" readonly  required>
                  <label for="floatingInputInvalid">Precio</label>
                  <span class="input-group-text bg-dark text-light">ml</span>
                </div>

                <div class="form-outline mb-2 form-floating mt-3" >
                  <input type="number" step="any" id="precioAgencia" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio"/>
                  <label for="floatingInputInvalid">Precio de agencia</label>
                 </div>

                 <div class="form-outline mb-2 form-floating mt-3" >
                  <input type="number" id="precioCliente" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required/>
                  <label for="floatingInputInvalid">Precio de cliente</label>
                 </div>
                


                 

                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnCrearProducto"  type="submit" class="btn btn-success">Crear</button>
                  </div>

              </form>
        </div>
 
      </div>
    </div>
    
  </div>
  <div class="modal fade" id="editarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light  border-light border">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Editar un producto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="mt-4" id="frmEditarProducto">

              <div class="form-outline mb-2 form-floating mt-3" >
                <input type="text" id="precioAgenciaNew" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required/>
                <label for="floatingInputInvalid">Precio de agencia</label>
               </div>

               <div class="form-outline mb-2 form-floating mt-3" >
                <input type="text" id="precioClienteNew" class="form-control mb-4 bg-dark text-light focus-light" placeholder="Precio" required/>
                <label for="floatingInputInvalid">Precio de cliente</label>
               </div>
                


                 

                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button id="btnEditarProducto" class="btn btn-success" onclick="Producto.editarTablaProducto()">Editar</button>
                  </div>

              </form>
        </div>
 
      </div>
    </div>
    
  </div>



<%- include("template/footer") %>